<!DOCTYPE html>

<style>
.head1color
{
    background-color:darkgray;
}

.background1
{
    color:brown;
}

.p1
{
    color:brown;
}

.linkstyle
{
    color:brown
}

.margin1
{
    
}

.fontsize1
{
    
}
